:root {
    --main-color-text: #434455;
    --header-color: #2E2F42;
    --primiry-background:  #2E2F42;
    --secondary-background:  #F4F4FD;
}
/* global styles */
body {
    background-color: #F4F4FD;
    font-family: 'Roboto', 'Releway', sans-serif;
    color: var(--header-color);
}

/* utilitarian styles */
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
/* header styles */
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--header-color);
}
.footer-logo{
    font-family: 'Raleway'; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-background);
}
.header-logo .logo,
.footer-logo .logo {
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
   
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}
.navigation-link {  
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.33;
        letter-spacing: 0.02em;    
        color: #2E2F42;
}
.contact-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.33;   
        letter-spacing: 0.02em;
        color: #434455;
}

.contact-link:hover,
.contact-link:focus {   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.33;    
        letter-spacing: 0.02em;
        color:  #404BBF;
}
/* main sections styles */
.hero {
    background: var(--primiry-background);
    width: 1440px;
        height: 600px;
}
.hero-title {
    box-sizing: border-box;
    padding-top: 260px;
    margin-left: 473px;
    width: 500px;
    height: 120px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;

        /* or 107% */
    
        text-align: center;
        letter-spacing: 0.02em;
    
        color: #FFFFFF;
}

.feutures-subtitle,
.portfolio-subtitle,
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feutures-text,
.team-text,
.portfolio-description,
.navigation-link {
    color: var(--main-color-text);
}
.footer {
    background-color: var(--primiry-background);
}

.footer p {
    line-height: 1.5;  
    color: #E7E9FC;
}